TDA/All_results/
TDA/displays/Pcam
TDA/displays/panda/new
TDA/displays/panda/0/backup
TDA/displays/panda/0/show_some
TDA/displays/panda/0/representative_regions.txt
TDA/displays/panda/1/backup
TDA/displays/panda/1/show_some
TDA/displays/panda/1/representative_regions.txt
TDA/displays/panda/2/backup
TDA/displays/panda/2/show_some
TDA/displays/panda/2/representative_regions.txt
TDA/displays/panda/3/backup
TDA/displays/panda/3/show_some
TDA/displays/panda/3/representative_regions.txt
TDA/displays/panda/4/backup
TDA/displays/panda/4/show_some
TDA/displays/panda/4/representative_regions.txt
TDA/displays/panda/5/backup
TDA/displays/panda/5/show_some
TDA/displays/panda/5/representative_regions.txt
TDA/batch_submission.sh
TDA/crag_60.png
TDA/dpath_13.png
TDA/files.xlsx
TDA/files_panda.xlsx
TDA/glas_18.png
TDA/random_displays.txt
TDA/random_displays/
TDA/running.py
TDA/selection.py
TDA/submit_TDA.sh
TDA/trying.png
TDA/trying.py
TDA/wanted_idx.txt
TDA/.nfs00000000458ae49500000183
