All_results/
displays/Pcam
displays/panda/new
displays/panda/0/backup
displays/panda/0/show_some
displays/panda/0/representative_regions.txt
displays/panda/1/backup
displays/panda/1/show_some
displays/panda/1/representative_regions.txt
displays/panda/2/backup
displays/panda/2/show_some
displays/panda/2/representative_regions.txt
displays/panda/3/backup
displays/panda/3/show_some
displays/panda/3/representative_regions.txt
displays/panda/4/backup
displays/panda/4/show_some
displays/panda/4/representative_regions.txt
displays/panda/5/backup
displays/panda/5/show_some
displays/panda/5/representative_regions.txt
batch_submission.sh
crag_60.png
dpath_13.png
files.xlsx
files_panda.xlsx
glas_18.png
random_displays.txt
random_displays/
running.py
selection.py
submit_TDA.sh
trying.png
trying.py
wanted_idx.txt

.nfs00000000458ae49500000183
