All_results/
batch_submission.sh
crag_60.png
displays/
dpath_13.png
files.xlsx
files_panda.xlsx
glas_18.png
random_displays.txt
random_displays/
running.py
selection.py
submit_TDA.sh
trying.png
trying.py
wanted_idx.txt

.nfs00000000458ae49500000183
